pandas
sklearn
scikit-learn
tqdm
imageio
seaborn
opencv-python
nltk
pytest
apturl
babel
bcrypt
blinker
brlapi
certifi
chardet
chrome-gnome-shell
colorama
command-not-found
configobj
cryptography
cupshelpers
cython
dbus-python
defer
dell-recovery
distro
distro-info
dnspython
duplicity
fastapi
fasteners
flask
future
httptools
ifaddr
importlib-metadata
itsdangerous
jeepney
jinja2
language-selector
launchpadlib
lockfile
louis
macaroonbakery
mako
markupsafe
mkchromecast
monotonic
more-itertools
netifaces
olefile
opencv-contrib-python
opencv-python
opencv-python-headless
pandas
paramiko
pexpect
pillow
pip-chill
progressbar
psutil
ptyprocess
pychromecast
pycryptodomex
pycups
pygobject
pyinotify
pyjwt
pymacaroons
pynacl
pyopenssl
pyqt5
pyrfc3339
python-apt
python-debian
python-dotenv
python-levenshtein
python-magic
python-xlib
pyudev
pyxattr
pyxdg
pyyaml
reportlab
secretstorage
simplejson
sos
ssh-import-id
systemd-python
tensorflow
terminator
tzdata
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
ulauncher
unattended-upgrades
urllib3
usb-creator
uvicorn
uvloop
wadllib
watchfiles
websocket-client
websockets
xdg
xkit
youtube-dl
zeroconf
zipp

-e .
